@model Product
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h3>Edit Product</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label"></label>
            <input asp-for="@Model.Name" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Text" class="form-label"></label>
            <input asp-for="@Model.Text" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Text"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label"></label>
            <input asp-for="@Model.Price" class="form-control">
            <span class="mt-2 text text-danger" asp-validation-for="@Model.Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ImageFile" class="form-label">Download Photos</label>
            <input asp-for="@Model.ImageFile" type="file" accept="image/*" class="form-control">
        </div>
        <div style="margin:20px">
            <img src="~/assets/image/@Model.Image" style="width:100px;height:100px;border-radius:5px" />
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a asp-controller="product" asp-action="index"></a>
    </form>
</div>
